BUYING_SOURCE=smartsuite

SMARTSUITE_ACCOUNT_ID=
SMARTSUITE_API_TOKEN=
SMARTSUITE_BUYING_TABLE_ID=
SMARTSUITE_INVENTORY_TABLE_ID=

STUBHUB_LOOKUP_MODE=live_web
STUBHUB_AI_FALLBACK_ENABLED=0
STUBHUB_POS_ACCOUNT_ID=
STUBHUB_POS_API_TOKEN=

WAY_USERNAME=
WAY_PASSWORD=
