# SmartSuite API
BUYING_SOURCE=
SMARTSUITE_API_TOKEN=
SMARTSUITE_ACCOUNT_ID=
SMARTSUITE_BUYING_TABLE_ID=

# StubHub API
STUBHUB_LOOKUP_MODE=
STUBHUB_AI_FALLBACK_ENABLED=
# STUBHUB_ENV=production
# STUBHUB_CLIENT_ID=
# STUBHUB_CLIENT_SECRET=

# Way
WAY_USERNAME=
WAY_PASSWORD=

